<div id="new"><h4>Add a new actor</h4>
  <div *ngIf="addActor">
    <table>
            <tr>
        <td>Name:</td>
        <td><input type="text" [(ngModel)]="addActor.name"/></td>
      </tr>
     <br>
      <tr>
        <td>Birth Date:</td>
        <td><input type="date" [(ngModel)]="addActor.birthDate" style="height: 25px; width: 200px;"/></td>
      </tr>
      <br>
      <tr>
        <td>Birth Name:</td>
        <td><input type="text" [(ngModel)]="addActor.birthName"/></td>
      </tr>
      <br>
      <tr>
        <td>Email:</td>
        <td><input type="text" [(ngModel)]="addActor.email"/></td>
      </tr>
      <br>
      <tr>
        <td>ID:</td>
        <td><input type="text" [(ngModel)]="addActor.id"/></td>
      </tr>
      <br>
      <tr>
        <td>Image:</td>
        <td><input type="file" [(ngModel)]="file" id="fileUpload" name="file"/></td>
      </tr>
      <br>
       <tr>
        <td>Active:</td>
        <td><select [(ngModel)]="addActor.active" style="width: 200px;">
              <option value="true">true</option>
              <option value="false">false</option>
          </select>
        </td>
      </tr>
      <br>
      <tr>
        <td style.colspan="2">
          <button class="button" (click)="onAddActor()">Save</button>
        </td>
      </tr>  
    </table>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
      <span class="glyphicon glyphicon-remove" (click)="close()"></span>
    <div class="modal-body">
      <p>Actor added!</p>
    </div>
  </div>
</div>